.dark {
  --background: #09090b;
  --foreground: #fafafa;

  --card: #09090b;
  --card-foreground: #fafafa;

  --primary: #f87171;
  --primary-foreground: #18181b;

  --secondary: #27272a;
  --secondary-foreground: #fafafa;

  --muted: #27272a;
  --muted-foreground: #a1a1aa;

  --accent: #27272a;
  --accent-foreground: #fafafa;

  --destructive: #f87171;

  --success: #4ade80;
  --success-foreground: #052e16;

  --danger: #f87171;
  --danger-foreground: #18181b;

  --border: #27272a;
  --input: #27272a;
  --ring: #f87171;
}
